In [14]:
import os
import pandas as pd
import statsmodels.api as sm
import statsmodels.formula.api as smf
ruta = r'c:\Users\franc\OneDrive - Delft University of Technology\Documents\Python\Statistics\Econometria-Wooldridge' +'\DataSets-STATA'

<>:5: SyntaxWarning: invalid escape sequence '\D'
<>:5: SyntaxWarning: invalid escape sequence '\D'
C:\Users\franc\AppData\Local\Temp\ipykernel_25316\3133936538.py:5: SyntaxWarning: invalid escape sequence '\D'
  ruta = r'c:\Users\franc\OneDrive - Delft University of Technology\Documents\Python\Statistics\Econometria-Wooldridge' +'\DataSets-STATA'

Computer 1

In [17]:
filename = os.path.join(ruta, '401K.DTA')
print(filename)
df = pd.read_stata(filename, preserve_dtypes=False)
df.head()

c:\Users\franc\OneDrive - Delft University of Technology\Documents\Python\Statistics\Econometria-Wooldridge\DataSets-STATA\401K.DTA

        prate  mrate  totpart  totelg  age  totemp  sole   ltotemp
0   26.100000   0.21   1653.0  6322.0    8  8709.0     0  9.072112
1  100.000000   1.42    262.0   262.0    6   315.0     1  5.752573
2   97.599998   0.91    166.0   170.0   10   275.0     1  5.616771
3  100.000000   0.42    257.0   257.0    7   500.0     0  6.214608
4   82.500000   0.53    591.0   716.0   28   933.0     1  6.838405